Hello, templates!



<html>
    <head></head>
    <body>
      <h1>{{title}}</h1>
    </body>
    {{#each art }} 
      <li>{{title}} </li>
         <li>{{comments}} </li>
            <li>{{artwork}} </li>
               <li>{{artist}} </li>
                  <li>{{license}} </li>

      {{/each}}
   
</html>