Hello, templates!



<html>
    <head></head>
    <body>
      <h1>{{title}}</h1>
    </body>
    {{#each art }} 
      <li>{{title}} </li>
        <li>{{artwork}} </li>
          <li>{{artist}} </li>
            <li>{{artist.name}} </li> 
              <li>{{licence}}</li>
                <li>{{license.url}} </li>
      {{/each}}

    <p>{{params}}</p>
   
</html>